<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leader %><br />
    <%= f.text_field :leader %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.date_select :from_date, :use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.date_select :to_date, :use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :detail %><br />
    <%= f.text_area :detail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
