<h1>登山届　一覧</h1>

<table>
  <tr>
    <th><%= Plan.label :leader %></th>
    <th><%= Plan.label :from_date %></th>
    <th><%= Plan.label :to_date %></th>
    <th><%= Plan.label :destination %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plans.each do |plan| %>
  <tr>
    <td><%= plan.leader %></td>
    <td><%= plan.from_date %></td>
    <td><%= plan.to_date %></td>
    <td><%= plan.destination %></td>
    <td><%= link_to 'Show', plan %></td>
    <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
    <td><%= link_to 'Destroy', plan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
