<p id="notice"><%= notice %></p>

<p>
  <b><%= Plan.label "leader" %></b>
  <%= @plan.leader %>
</p>

<p>
  <b><%= Plan.label "from_date" %></b>
  <%= @plan.from_date %>
</p>

<p>
  <b><%= Plan.label "to_date" %></b>
  <%= @plan.to_date %>
</p>

<p>
  <b><%= Plan.label "destination" %></b>
  <%= @plan.destination %>
</p>

<p>
  <b><%= Plan.label "detail" %></b>
  <%= @plan.detail %>
</p>


<%= link_to '編集', edit_plan_path(@plan) %> |
<%= link_to '一覧', plans_path %>
