<!DOCTYPE html>
<html>
<head>
  <title><%= APP_DISP_NAME %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
